*{
    margin:0;
    padding: 0;
}
body{
    margin: 50px;
}
.alert{
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: red;
}
p::after{
    content: "-check it out!";
}
.alert-primary{
    background: rgba(0, 157, 255, 0.85);
    box-shadow: 0 0 0 1px rgb(0, 157, 255);
    color: rgb(0, 59, 95);
}
.alert-secondary{
    background: rgba(190, 190, 190, 0.85);
    box-shadow: 0 0 0 1px rgba(190, 190, 190, 0.85);
    color:rgba(65, 65, 65, 0.85);
}
.alert-success{
    background: rgba(115, 241, 108, 0.85);
    box-shadow: 0 0 0 1px rgb(21, 155, 0);
    color: rgb(0, 95, 0);
}
.alert-warning{
    background: rgba(241, 232, 110, 0.72);
    box-shadow: 0 0 0 1px rgb(255, 238, 0);
    color: rgb(94, 95, 0);
}
.alert-info{
    background: rgba(101, 221, 248, 0.85);
    box-shadow: 0 0 0 1px rgb(0, 149, 255);
    color: rgb(7, 97, 110);
}
.alert-light{
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    color: rgb(202, 203, 204);
}
.alert-dark{
    background: rgba(231, 231, 231, 0.85);
    box-shadow: 0 0 0 1px rgb(160, 160, 160);
    color: rgb(78, 78, 78);
}
