*{
    margin: 0;
    text-align: center;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header,footer{
    background: dimgrey;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

